.nutrition_card {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 32px;
  width: 258px;
  height: 124px;
  background: #FBFBFB;
  border-radius: 5px;

  &__texts {
    display: flex;
    justify-content: center;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
  }

  &__icon {
    width: 60px;
    height: 60px;
  }

  &__score {
    color: #282D30;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }

  &__type {
    color: #74798C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}