.performances {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  grid-column: span 4;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  background-color: #282D30;

  text {
    fill: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
  }

}