.sidebar {
  position: relative;
  display: flex;
  width: 117px;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 91px);
  background-color: #020203;

  &__list {
    position: absolute;
    top: 25%;
    display: grid;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__trademark {
    position: fixed;
    bottom: 60px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500; 
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}