.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  width: 117px;
  flex-direction: column;
  align-items: center;
  height: 1024px;
  background-color: #020203;

  &__list {
    position: absolute;
    top: 347px;
    display: grid;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__trademark {
    position: absolute;
    bottom: 59px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500; 
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}