h1 {
  font-size: 48px;
  margin: 0 0 40px 0;
  p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  } 
  span {
    color: #FF0101;
    margin: 0;
  }
}

.dashboard {
  max-width: 1126px;
  display: flex;
  grid-gap: 30px;
  margin-top: 77px;
}

.dashboard_bottom_row {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.dashboard_right_col {
  display: flex;
  flex-direction: column;
  grid-gap: 39px;
}

.nutrition_card {
  width: 258px;
  height: 124px;
}
